---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h2>About</h2>
    <p>
        <b>TLDR</b> I liked browsing the Youtube Trending page and I wanted to continue
        doing so after Youtube removed it. The official api still allows me to get
        the trending page's videos via the "mostPopular" videos chart.
    </p>
    <p>
        <em> Edit - Turns out nope, see RIP Trending</em>
    </p>
    <hr />
    <p>
        In July 2025
        <a
            href="https://variety.com/2025/digital/news/youtube-trending-page-shutting-down-1236452150/"
        >
            YouTube sunset the Trending Page.
        </a>
        Most users, I think, couldn't care less. But I used it very regularly.
        It was a way to find videos my algorithm would never have showed me.
        I discovered quite a few channels through the trending page and stayed
        informed on news that would never cross any of my other feeds. Even though
        the trending page is inherently algorithm based it feels more free than
        a single user's personalized recommendations.
    </p>
    <p>
        I'm not sure why YouTube really removed the trending page. I don't
        quite buy the reasons listed in the
        <a
            href="https://support.google.com/youtube/thread/356702168/changes-to-discovering-trending-content-on-youtube?hl=en"
        >
            blog post.
        </a>
        If it's so hard to do, why does the "mostPopular" chart still exist in
        the youtube api? That single api call is how I was able to make this
        site work. Maybe it will be marked as deprecated at some point but there's
        no sign of it happening yet.
    </p>

    <hr />

    <h3>RIP Trending</h3>
    <p>
        It appears the Trending Page is truly dead. Although the api call
        exists, after browsing through what it returns for a few days I can
        tell it will now only ever show 3 categories 1. Music videos 2.
        Movie and TV announcements and reactions to those announcements 3.
        Let's-plays or game commentary tagged as gaming (including gambling
        for some reason).
    </p>
    <p>
        It took me a few days to realize it. After all, the old trending
        page was often filled with those exact 3 categories. But it used to
        include vlogs, random area's local news and niche reviews and commentary, none of
        which appears now. RIP trending. At least I had fun learning Astro
        to build this site. This site is officially deprecated and will
        receive no more maintenance. I'll keep it online as long as the
        hosting works and remains free. I deprecated this almost as fast as
        a google product :)
    </p>
    <p><em>RIP "Trending Revival" 9/4/25 - 9/5/25.</em></p>
    </p>
</Layout>
