---
import Video from "./Video.astro";

let videos = [];
try {
    const response = await fetch(`${Astro.url.origin}/trending?region=US`);
    const data = await response.json();
    videos = JSON.parse(data).videos;
} catch (err) {
    console.error(err);
}
---

<ul>
    {
        videos.map((video: any, index: number) => {
            return <Video video={video} index={index} />;
        })
    }
</ul>

{
    videos.length < 1 && (
        <p>
            No videos... We've likely hit our YouTube api points limit. Please
            check back later.
        </p>
    )
}

<style>
    ul {
        padding-left: 0;
    }
</style>
