<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/video-96.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Trending Revival</title>

		<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
		<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css"
			media="screen and (prefers-color-scheme: dark)" />

		<meta property="og:title" content="Trending Revival" />
		<meta property="og:description"
			content="YouTube's trending page brought back from google's graveyard." />
		<meta property="og:url" content="https://trending-revival.netlify.app" />
		<meta property="og:type" content="website" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
